<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand " href="https://www.ensta-paris.fr/">
      <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/4/45/Logo_ENSTA_Paris.jpg">
    </a>
    <a class="navbar-brand bds" href="#">
      <h1 class="bds">Bureau Des Sports</h1>
    </a>
    <button class="navbar-toggler" ng-click="clicSurBouton()" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
          </li>
          <li *ngIf="isAuth" class="nav-item">
            <a class="nav-link" href="#">Panneau de Configuration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Equipe BDS
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Cette année</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Année précédentes</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sports Obligatoire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sous Sections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tournois</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
