<app-slides></app-slides>
<ul class="list-group-flush">
  <li class="list-group-item sports">
    <h2 class="card-header d-flex justify-content-between ">Les sports proposés
      <a class="btn btn-m btn-primary" href="#">Voir tous les sports</a>
    </h2>
    <app-card-list></app-card-list>
  </li>
  <li class="list-group-item tournois">
    <h2 class="card-header d-flex justify-content-between align-items-center">Les Tournois
      <a class="btn btn-m btn-primary" href="#">Voir tous les tournois</a>
    </h2>
    <app-card-list></app-card-list>
  </li>
  <li class="list-group-item assos">
    <h2 class="card-header d-flex justify-content-between align-items-center">Nos associations
      <a class="btn btn-m btn-primary" href="#">Voir toutes les assocs</a>
    </h2>
    <app-card-list></app-card-list>
  </li>
</ul>
