
.zoom
{
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1);
  pointer-events: visibleFill;
}
/* [1] The container */
.zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  max-height: 30vmax;
}

/* [2] Transition property for smooth transformation of images */
.zoom img {
  transition: transform .5s ease;
}

h1 {
  text-align: center;
}

/* [3] Finally, transforming the image when container gets hovered */

.filigram {
  background-color: black;

}

.card-img {
  opacity: 0.5;
}


img {
  object-fit: cover;
  object-fit: center;
  overflow: hidden;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition-timing-function: ease-in;
  transition: 1.5s;
}

.zoom:hover {
  img {
  opacity: 0.8;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition-timing-function: ease-in;
  transition: 1.5s;
  }
}

.card-title {
  font-size: xx-large;
  font-family: SPORT;
  padding-top: 1vmax;
  padding-bottom: 1vmax;
  border-bottom: solid;
}
