<footer class="text-center text-white bg-none" id="contact" >
  <!-- Grid container -->
  <div class="container p-2 pb-0" >
    <!-- Section: Social media -->
    <section class="p-3">
      <h4>Nos réseaux et contacts :</h4>
    </section>
    <section *ngIf="cfg$ | async as cfg" class="mb-4 ">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1 p-0" href={{cfg.facebookLink}} role="button"
        ><img class="social" src="https://cdn-icons-png.flaticon.com/512/124/124010.png"></a>
      <!-- Github -->
      <a *ngIf="mail$|async as mail" class="btn btn-outline-light btn-floating m-1 p-0" href = {{mail}} role="button"
        ><img class="social" src="https://icons-for-free.com/iconfiles/png/512/at+contact+email+mail+icon-1320191824009890042.png"></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1 p-0" href={{cfg.instaLink}} role="button"
        ><img class="social" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1 p-0" href={{cfg.linkedinLink}} role="button"
        ><img class="social" src="https://cdn-icons-png.flaticon.com/512/174/174857.png"></a>


    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    Site développé par
    <a class="text-white" href="mailto:pierre.cesar38@gmail.com">Pierre CESAR</a>
  </div>
  <!-- Copyright -->
</footer>
