<nav class="navbar navbar-light bg-none opacity-75 fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler bg-light" ng-click="clicSurBouton()" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start bg-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item mx-auto d-block">
            <a class="nav-link active  mx-auto d-block" aria-current="page" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
          </li>
          <li *ngIf="isAuth" class="nav-item mx-auto d-block">
            <a class="nav-link" routerLink="config" routerLinkActive="active">Panneau de Configuration</a>
          </li>
          <li class="nav-item  mx-auto d-block">
            <a class="nav-link" routerLink="all-events" routerLinkActive="active">Events</a>
          </li>
          <li class="nav-item dropdown  mx-auto d-block">
            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Equipe BDS
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="all-teams/0" routerLinkActive="active">Cette année</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="mx-auto d-block"class="dropdown-item" routerLink="all-teams" routerLinkActive="active">Année précédentes</a></li>
            </ul>
          </li>
          <li class="nav-item mx-auto d-block">
            <a class="nav-link" routerLink="all-sports" routerLinkActive="active">Sports Obligatoire</a>
          </li>
          <li class="nav-item  mx-auto d-block" >
            <a class="nav-link  mx-auto d-block" routerLink="all-assos" routerLinkActive="active">Sous Sections</a>
          </li>
          <li class="nav-item  mx-auto d-block">
            <a class="nav-link" routerLink="all-tournois" routerLinkActive="active">Tournois</a>
          </li>
          <li class="nav-item  mx-auto d-block">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>
